.siderContent {
  padding-top: 20px;
  padding-right: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: end;
}

.logo {
  display: flex;
  padding: 10px;
  width: 43px;
  gap: 14px;
  height: 42px;
  justify-content: start;
  align-items: center;
  text-decoration: none !important;
  color: black;
}
.sidebarLogo {
  color: black;
}

/* setup tooltips */
.tooltip {
  position: relative;
}

.tooltip.fade {
  display: flex;
  justify-content: start;
  gap: 14px;
  margin-top: 20px;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 1000px;
  color: grey !important;
  text-decoration: none !important;
}

.tooltip.fade:hover {
  display: flex;
  color: black !important;
}

.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.tooltip:after {
  content: '';
  top: 27px;
  right: 35px;
  left: 30px;
  top: 50%;
}
.tooltip:before {
  background: black;
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 17px;
  left: 35px;
  white-space: nowrap;
}

/* the animations */
/* fade */
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition-delay: 0.5s;
}
